/*

!alacritty
!dunst
!fish
!picom.conf

#EasyEDA
#cef_user_data
#@joplin
#app-outlet
#appimagelauncher.cfg
#joplin-desktop
#lxsession-default-apps
#BraveSoftware
#Code - OSS
#code-oss
#Code
#Binance/
#QtProject.conf
#REAPER/
#Trolltech.conf
#Undertype/
#autostart/
#chromium/
#configstore/
#dconf/
#discord/
#flameshot/
#gtk-3.0/
#htop/
#jack/
#libfm/
#libreoffice/
#lxsession/
#menus/
#nautilus/
#neofetch/
#omf/
#pamac/
#pavucontrol.ini
#pcmanfm/
#pulse/
#rncbc.org/
#session/
#spotify-tui/
#spotify/
#systemd/
#terminator/
#truffle/
#volumeicon/
#FreeCAD/
#GIMP/
#Insomnia/
#QtProject/
#SEGGER/
#TabNine/
#gtk-2.0/
#kicad/
#mimeapps.list
#xarchiver/
#Notepadqq/
#coc/
#dlv/
#gedit/
#nextjs-nodejs/
#nvim/
